/* signup section*/
.signupform {
  background-image: url("../image/signup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  padding-top: 50px;
}

.form-heading {
  color: #fff;
  font-size: 23px;
}

.panel h2 {
  color: #444444;
  font-size: 18px;
  margin: 0 0 8px 0;
}

.panel p {
  color: #777777;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 24px;
}

.signup-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.signup-form .form-group {
  margin-bottom: 10px;
}

.signup-form {
  text-align: center;
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.signup-form .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}

.forgot {
  text-align: left;
  margin-bottom: 30px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.signup-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}

.back {
  text-align: left;
  margin-top: 10px;
}

.back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}

/* End signup section*/
/*Login Section*/
.login-block {
  /*  background: #DE6262;
  background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
  background: linear-gradient(to bottom, #FFB88C, #DE6262);*/
  background-image: url("../image/signup.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
  width: 100%;
  padding: 180px;
}

.banner-sec {
  background: url(../image/login.jpg) no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
}

.containerLogin {
  background-color: #fff;
  border-radius: 10px;
}

.login-sec {
  padding: 50px 30px;
  position: relative;
}

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #DE6262;
}

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FEB58A;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}

.btn-login {
  background: #DE6262;
  color: #fff;
  font-weight: 600;
}

/*End Login Section */
/* Contact section */
.content-header {
  font-family: 'Oleo Script', cursive;
  color: #fcc500;
  font-size: 45px;
}

.section-content {
  text-align: center;
}

#contact {
  font-family: 'Teko', sans-serif;
  padding-top: 40px;
  width: 100%;
  width: 100vw;
  height: 864px;
  background: #3a6186;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186, #89253e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3a6186, #89253e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  margin-top: -16px;
}

.contact-section {
  padding-top: 40px;
  padding-left: 30%;
}

.contact-section .col-md-6 {
  width: 100%;
}

/*.form-line {
  border-right: 1px solid #B29999;
}*/
.form-group {
  margin-top: 10px;
}

label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}

.form-control {
  font-size: 1.3em;
  color: #080808;
}

textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}

/* End contact sectiom*/
/*button Enter */
.buttonEnter {
  margin: 80px;
  width: 200px;
}

/*button Enter End */
/***** about us start *******/
section {
  padding: 60px 0;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#what-we-do {
  background: #ffffff;
}

#what-we-do .card {
  padding: 1rem !important;
  border: none;
  margin-bottom: 1rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#what-we-do .card:hover {
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#what-we-do .card .card-block {
  padding-left: 50px;
  position: relative;
}

#what-we-do .card .card-block a {
  color: #007b5e !important;
  font-weight: 700;
  text-decoration: none;
}

#what-we-do .card .card-block a i {
  display: none;
}

#what-we-do .card:hover .card-block a i {
  display: inline-block;
  font-weight: 700;
}

#what-we-do .card .card-block:before {
  font-family: FontAwesome;
  position: absolute;
  font-size: 39px;
  color: #007b5e;
  left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

#what-we-do .card .block-1:before {
  content: "\f0e7";
}

#what-we-do .card .block-2:before {
  content: "\f0eb";
}

#what-we-do .card .block-3:before {
  content: "\f00c";
}

#what-we-do .card .block-4:before {
  content: "\f209";
}

#what-we-do .card .block-5:before {
  content: "\f0a1";
}

#what-we-do .card .block-6:before {
  content: "\f218";
}

#what-we-do .card:hover .card-block:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

/***** about us end *******/
/*Header*/
#ul2 {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  margin-left: -8px;
  margin-top: -8px;
  margin-right: -8px;
  padding: 0;
}

.li2 {
  float: left;
}

.li2 a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  margin-left: 0px;
  margin-top: 0
}

.li2 a:hover {
  background-color: #111;
}

#logout {
  padding-left: 950px;

}

/*End Header*/
/*Search bar*/
.btn-search {
  background: #424242;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #1c1c1c;
}

.btn-search:link, .btn-search:visited {
  color: #fff;
}

.btn-search:active, .btn-search:hover {
  background: #1c1c1c;
  color: #fff;
}

/*End Search bar*/
/*Post section*/
.imagePost {
  width: 280px;
  height: 200px;
}

.divPostDescription {
  height: 200px;
  padding: 5px;
}

.allPost {
  margin-left: 250px;
}

.homediv {
  margin-right: 50px;
}

.homediv:hover {
  border-color: black;
  border-radius: 6px;
  border-width: 1px;
  cursor: pointer;
}

.PostTitle {
  height: 50px;
}

.select {
  border-radius: 0px;
  height: 38px;
  background-color: #424242;
  /* color:darkgrey */
}

.addbutton {
  border-radius: 0px;
  background-color: #424242;
  height: 38px;
}

.homeforminput {
  width: 500px;
}

.selectaddpost {
  width: 500px;
}

.hometextarea {
  width: 500px;
  margin-top: -20px;
}

.homeform {
  margin-left: 500px;
  width: 550px;
  background-color: coral;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
}

.homeformelement {
  padding-bottom: 20px;
}

.homeaddbutton {
  width: 500px;
  cursor: pointer;
  border-radius: 20px;
  background-color: teal
}

/*End POst section*/
/*Footer section */
.Copyright {
  background-color: black
}

/*End Footer section */
/***** userProfile start *******/
.userProfileSectio {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #F7F7F7;
}

#cont {
  display: flex;
  justify-content: center;
}

.post {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 1px #CCC;
  margin: 10px;
}

.post img {
  border: 2px solid white;
  border-radius: 12px;
}

.post .content {
  padding: 15px;
}

.post .author {
  font-size: 11px;
  color: #737373;
  padding: 25px 30px 20px;
}

.post .post-img-content {
  height: 250px;
  position: relative;
}

.post .post-img-content img {
  height: 250px;
  position: relative;
}

.post .post-title {
  display: table-cell;
  vertical-align: bottom;
  z-index: 2;
  position: relative;
}

.post .post-title b {
  background-color: rgba(51, 51, 51, 0.58);
  display: inline-block;
  margin-bottom: 5px;
  color: #FFF;
  padding: 10px 15px;
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding-left: 120px;
}

.userprofileBtn {
  padding: 10px;
  width: 50px;
}

.stepwizard-step p {
  margin-top: 10px;
}

.process-row {
  display: table-row;
}

.process {
  display: table;
  width: 100%;
  position: relative;
}

.process-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.process-row:before {
  top: 50px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;
}

.process-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.process-step p {
  margin-top: 10px;
}

.btn-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

/***** userProfile end *******/
/****** animation start *******/
main.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

main.ng-enter.ng-enter-active {
  opacity: 1;
}

main.ng-leave {
  transition: 0.5s linear all;
  opacity: 1;
}

main.ng-leave.ng-leave-active {
  opacity: 0;
}

form .ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

form.ng-enter.ng-enter-active {
  opacity: 1;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
  -webkit-animation-delay: 2s;
  animation-delay: 2s
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bouncedelay {
  animation: bouncedelay 14s infinite cubic-bezier(0.85, 0.04, 0, 1.35) both;
}

.bouncedelay {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1)
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1)
  }
}

.bouncedelay {
  animation: bouncedelay 14s infinite cubic-bezier(0.85, 0.04, 0, 1.35) both;
}

.bouncedelay {
  -webkit-animation-delay: 1s;
  animation-delay: 1s
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1)
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  40% {
    transform: scale(1);
    -webkit-transform: scale(1)
  }
}

/****** animation end *******/
/***** main page section ****/
.mainpage {
  background-image: url("../image/logo.png");
  background-repeat: no-repeat;
  /*background-position: center;*/
  background-size: cover;
  /*float: left;*/
  /*width: 100%;*/
  padding: 270px;
}

#quote {
  border-style: groove;
  border-radius: 500px;
  /*font: 400 100px/1.5 'Pacifico', Helvetica, sans-serif;*/
  font-family: fantasy;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1), 7px 7px 0px rgba(0, 0, 0, 0.05);
  font-size: 50px;
  color: #C0392B;
  background-color: #D5D8DC;
  opacity: 0.8;
  text-align: center;
}

#quote:hover {
  background-color: antiquewhite;
  cursor: pointer;
}

.loginsubmit:hover {
  background-color: dimgray
}

.signupsubmit:hover {
  background-color: dimgray
}

.loginsubmit {
  color: white;
  background-color:#C0392B;
  margin-top: 70px;
  margin-left: 235px;
  width: 250px;
  opacity: 0.6;
}

.signupsubmit {
  color: white;
  background-color:#C0392B;
  margin-top: 70px;
  margin-left: 150px;
  width: 250px;
  opacity: 0.6;
}

.swal-wide{
    width:80% !important;
    height:80%;
    background-color:black !important;
    opacity: 0.8;
}

/**** End main page section ****/
/***** monitorscreen start ****/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.monitorscreenhoverColorTable{
  background-color: lightgreen;
  color: black;
}
/***** monitorscreen end ****/