
/*Login Section*/
.login-block {
  background: #DE6262;
  background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
  background: linear-gradient(to bottom, #FFB88C, #DE6262);
  float: left;
  width: 100%;
  padding: 284px;
}

.banner-sec {
  background: url(../image/login.jpg) no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
}

.container {
  background: #fff;
  border-radius: 10px;
}

.login-sec {
  padding: 50px 30px;
  position: relative;
}

.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: #DE6262;
}

.login-sec h2:after {
  content: " ";
  width: 100px;
  height: 5px;
  background: #FEB58A;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto
}

.btn-login {
  background: #DE6262;
  color: #fff;
  font-weight: 600;
}
/*End Login Section*/